html {
  box-sizing: border-box;  
  min-height: 100vh;  
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdffe3;
}

.background img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: grayscale(30%);
}

svg {
  position: relative;
  fill: rgba(103, 114, 229, 1);
  background: rgb(251, 250, 247);
  padding: 20px 40px 0;
  border-radius: 50% 50% 0 0;
  width: 180px;
  height: 80px;
  
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.content{
  margin-bottom: 100px;
  padding: 20px 20px 50px;
  max-width: 350px;
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin: 10px 0 30px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #423f3f;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.plates li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.plates li:hover .btn-remove {
  display: block;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: '🌮';
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.add-items input[type="submit"] {
  color: #fff;
  background-color: #6772e5;
  cursor: pointer;
  transition: background-color .175s ease-in-out;
}

.add-items input[type="submit"]:hover {
  background-color:#939ae2;
}

.btn {
  background: none;
  border: none;
  cursor: pointer; 
}

.btn-master {
  margin-top: 10px;
  color: #aaa;
  transition: all .175s ease-in-out;
  padding: 5px 10px;
  border: 1px solid #cacad4;
  border-radius: 3px;
}

.btn-master:hover {
  color: #fff;
  background: #939ae2;
}

.btn-remove {
  display: none;
  opacity: 0.2; 
  transition: opacity .175s ease-in-out;
}

.btn-remove:hover {
  opacity: 1;
}

.btn-clear-list {
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid #cacad4;
  border-radius: 3px;
  opacity: .5;
  transition: all .175s ease-in-out;
}

.btn-clear-list:hover {
  opacity: 1;
  background: #f7716f;
  color: #fff;
}

.master-controls {
  opacity: 0;
  transition: opacity .175s ease-in-out;
}

.master-controls.visible {
  opacity: 1;
}